
@{
    ViewBag.Title = "VideoDetails";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container">
    <video controls>
        <source src="../@ViewBag.Video_url" type="video/mp4">
    </video>
   
</div>


