
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div style="text-align:center">
    <h2 style="text-align:center">@ViewBag.News_title</h2>
    <small>@ViewBag.News_addtime</small><br />
    <img src="../@ViewBag.News_img" alt="Alternate Text" />
    <p style="text-align:center">@ViewBag.News_content</p>
</div>




